{% extends "index.html" %}
{% block content %}
<header class="bg-primary text-white">
        <div class="container text-center">
          <h1>Welcome to Developer's Paradise</h1>
          <p class="lead">We provide set of tools for developers</p>
        </div>
      </header>
    
      <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>About this page</h2>
              <p class="lead">This is My First python project:</p>
              <ul>
                <li>Responsive Bootstrap Front end</li>
                <li>Developers tools </li>
                <li>I will add more tools in </li>
                <li>Feedbacks are welcome</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    
      <section id="services" class="bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Services we offer</h2>
              <p class="lead">Basic encoders</p>
              <p class="lead">more tools coming soon</p>
            </div>
          </div>
        </div>
      </section>
    
      <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Contact us</h2>
              <p class="lead">you can email me your suggestions and Feedbacks to <strong>naveencreater106@gmail.com</strong></p>
            </div>
          </div>
        </div>
      </section>

      {% endblock %}